.ploneSkin .charlimit-info {
    background-color: #777c1f;
    color: white;
    font-weight: bold;
    text-align: right;
    border: 1px solid #444;
    border-bottom: none;
    padding: 0.2em;
}

.ploneSkin .charlimit-exceeded {
    background-color: red;
    color: white;
    font-weight: bold;
}

.ploneSkin .charlimit-warn {
    background-color: orange;
    color: white;
    font-weight: bold;
}
